

#popup1{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-1.jpg);

	background-size:contain;

	background-repeat:repeat-x;

	position:fixed;

    bottom:0;

    right:0;

}

#popup2{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-2.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    right:0;

}

#popup3{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-3.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    right:0;

}

#popup4{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-4.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    right:0;

}

#popup5{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-5.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    right:0;

}

#popup6{

	width: 540px;

	height: 220px;
	
	background: url(../images/Navidad-6.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    right:0;

}



#popup1-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-1.jpg);

	background-size:contain;

	background-repeat:repeat-x;

	position:fixed;

    bottom:0;

    left:0;

}

#popup2-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-2.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    left:0;

}

#popup3-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-3.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    left:0;

}

#popup4-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-4.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    left:0;

}

#popup5-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-5.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    left:0;

}

#popup6-iz{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-6.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

    bottom:0;

    left:0;

}



#popup1-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-1.jpg);

	background-size:contain;

	background-repeat:repeat-x;

	position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}

#popup2-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-2.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}

#popup3-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-3.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}

#popup4-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-4.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}

#popup5-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-5.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}

#popup6-cen{

	width: 540px;

	height: 220px;

	background: url(../images/Navidad-6.jpg);

	background-size:contain;

	background-repeat:repeat-x;

    position:fixed;

	z-index:999;

    bottom:50%;

	margin-bottom: -110px;

	margin-left: -270px;

    left:50%;

}



#close {

	color:#fff;
	
    float:right;

    display:inline-block;

    padding:4px 6px;

    background: #9D0000;

}

#close:hover {

    float:right;

    display:inline-block;

    padding:4px 6px;

    background:#750000;

    color:#fff;

}